#FORM
	 <div class="card-header">
		<div class="row mb-1">
			<div class="col-md-3 col-sm-12">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text ">{% if fsc.type == 'C' %}{{trans('customer')}}{% else %}{{trans('supplier')}}{% endif %}:</span>
					</div>
					<input type="text" class="form-control" placeholder="{{trans('Nif, nombre o código')}}" name="clienteproveedor" id="clienteproveedor" value="{{fsc.clienteproveedor}}">
				</div>
			</div>
			<div class="col-md-2 offset-md-7 text-center col-sm-12">
				<button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search mr-2"></i>{{trans('search')}}</button>
			</div>
		</div>
	</div>
